.banner {
  padding-top: 24px;
  padding-bottom: 56px;
  background-repeat: no-repeat;
  background-size: cover;
}
.title {
  color: var(--color-01);
  font-size: var(--fs-26);
  margin-bottom: 8px;
  margin-top: 24px;
  font-weight: bold;
}

.paragraph {
  font-size: var(--fs-18);
  color: var(--color-01);
}

.maxWidth {
  max-width: 592px;
}

.firstParagraph {
  font-weight: bold;
  font-size: var(--fs-18);
  color: white;
  margin-bottom: 0;
  margin-top: 48px;
}

.secondParagraph {
  font-size: var(--fs-18);
  font-weight: 400;
  color: white;
}

@media (min-width: 768px) {
  .banner {
    padding-top: 48px;
    padding-bottom: 180px;
  }
  .title {
    margin-bottom: 24px;
    font-size: var(--fs-40);
  }

  .paragraph {
    font-size: var(--fs-20);
  }
}
