.card {
  box-shadow: var(--shadow-strong-02);
  border-radius: 16px;
  background-color: var(--color-01);
  padding: 48px 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.image {
  width: 89px;
  height: 89px;
  object-fit: contain;
}

.title {
  margin-bottom: 0;
}

.description {
  margin-bottom: 0;
}
