.content img {
  width: 100%;
  height: auto;
  margin-bottom: 24px;
}

.content h2 {
  color: var(--color-02);
  font-weight: bold;
  position: relative;
  margin-bottom: 32px;
}

.content h2::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 5px;
  background-color: var(--color-21);
  bottom: -10px;
}

.content p {
  margin-bottom: 32px;
}

.content a {
  color: var(--color-02);
}
